.search-bar {
  max-width: 820px;
  background: #ffffff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: -60px auto 40px auto;
  padding: 40px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.search-bar-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input-container {
  background: #f4f6f7;
  width: 320px;
  border-radius: 5px;
  padding-left: 15px;
  height: 44px;
  display: flex;
  align-items: center;
}

.search-bar-type-search {
  font-size: 16px;
  color: #8191a0;
  height: 100%;
  border: none;
  background: none;
  padding-left: 10px;
  flex: 1;
}

.search-bar-button {
  cursor: pointer;
  width: 220px;
  height: 44px;
  background: #4183d7;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 16px;
  color: #ffffff;
  margin-left: 20px;
}
