.ellipsis-container {
  width: 100%;
  overflow: hidden;
}

.ellipsis-background {
  position: relative;
  background-color: #f56b2a;
  border-radius: 0 0 600px 600px/0 0 80px 80px;
  left: -5%;
  width: 110%;
  height: 100px;
  z-index: 1;
}
